
.bars {
    height: 100vh;
    display:grid;
    row-gap: 6px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: 'Times New Roman', Times, serif;
}


.sideBar {
    background-color: grey;
    grid-row: span 5;
}

.topBar {
    background-color: green;
    grid-column: 2 / span 4;
    grid-row: 1;
}

.content {
    background-color: rgb(238, 231, 170);
    grid-column: 2 / span 4;
    grid-row: 2 / span 4;
  
}


.sideContent {
    color: yellow;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
}
.sideContent * {
    flex-direction: column;
}
    
.settings:hover {
    color: blue;
    background-color: azure;
    border: radius 0.5rem;
}

.action {
    gap: 20px;
}

.globalAction {
    gap: 20px;
}

.topBar {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.top {
    grid-column: 1;
    grid-row: 1;
}
.top {
    display: flex;
    margin-left: 50px;
    align-items: center;
    gap: 10px;
}

.profile {
    display: flex;
    margin-left: 300px;
    grid-column: 2;
    grid-row: 1;
}
.info {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.info div{
    background-color: yellow;
    border-radius: 30px;
    width: 50px;
    height: 20px;
    padding: 10px;
    padding-top: 14px;
    text-align: center
}
.info div:hover {
    background-color:black;
    color:white;
}

.greet , .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.greet {
    margin-left: 30px;
}

.top input{
    width: 800px;
    height: 25px;
    border-radius: 10px;
    border: 0;
}

textarea:focus, input:focus{
    outline: none;
}

/*https://ionic.io/ionicons*/